#main-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 5% auto;
}

@media only screen and (orientation: portrait) {
    #main-container {
        max-width: 90%;
    }
}

.user {
    margin-bottom: 3%;
}

.username{
    color:rgb(85, 85, 85);
    font-weight: bold;
}

h1 {
    margin: 4% 0;
    font-size: 3rem;
    font-weight: bold;
}

#user-info-header {
    padding-top: 1%
}